{% extends 'base.html' %}

{% block app %}
  <h1 class="text-center mt-3"> 영화 상세정보 <h1>
  <hr>
  <div class="row">
    <div class="col-12 mb-5">
      <img src="{{ movie.backdrop_path }}" style="width: 100%; height: 20vw;">
    </div>
    <div>
      <!-- 비동기 요청 Vue 버전 -->
      <div>
        <p class="d-inline"> {{ movie.title }} </p>
        <i v-show="is_like_movie" @click="like" class="fas fa-heart" style="color: red; cursor: pointer;">:[[likes]]</i>
        <i v-show="!is_like_movie" @click="like" class="fas fa-heart" style="color: black; cursor: pointer;">:[[likes]]</i>
      </div>
      <!-- 새로고침 버전
        <div>
        <p class="d-inline"> {{ movie.title }} </p>
        {% if request.user in movie.like_users.all %}
          <a href="{% url 'movies:movie_like' movie.pk %}"><i class="fas fa-heart" style="color: red;"></i></a> :{{ movie.like_users.count }}
        {% else %}
          <a href="{% url 'movies:movie_like' movie.pk %}"><i class="far fa-heart" style="color: red;"></i></a> :{{ movie.like_users.count }}
        {% endif %}
      </div>
      -->
      <!-- 바닐라JS 버전
      <div>
        <p class="d-inline"> {{ movie.title }} </p>
        <i class="fas fa-heart fa-lg like-buttons" style="color:black; cursor:pointer;" data-id="{{ movie.pk }}"></i>
        <span id="like-count-{{ movie.pk }}">{{ movie.like_users.all|length }}</span>
      </div>
      -->

      <h5>{{ movie.title_en }} <span class="badge badge-warning">{{ movie.vote_average }}</span></h5>
      <h5>개봉 : {{ movie.release_date }}</h5>
      {% for genre in genres %}
        <small><h5 class="badge badge-info">{{ genre.name }}</h5></small>
      {% endfor %}
      <br>
      {% if movie.overview %}
        <h5>{{ movie.overview }}</h5>
      {% else %}
        <h3> 해당 영화는 OverView 가 제공되지 않습니다. </h3>
      {% endif %}



    </div>
  </div>
  <br>

  <h2 class="text-center mt-5">리뷰 목록</h2>
  <a href="{% url 'movies:review_create' movie.pk %}"><input class="btn btn-primary" type="submit" value="글 작성"></a>
  <hr>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">제목</th>
        <th scope="col">작성일</th>
        <th scope="col">글쓴이</th>
      </tr>
    </thead>
    <tbody>
      {% for review in reviews %}
        <tr>
          <th scope="row">{{ review.pk }}</th>
          <td><a href="{% url 'movies:review_detail' movie.pk review.pk %}">{{ review.title }}</a></td>
          <td>{{ review.created_at }}</td>
          <td>{{ review.user }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock  %}


{% block script %}
  <script>
    const test = new Vue({
      el: '#app',
      delimiters: ['[[', ']]'],
      data: {
        is_like_movie: null,
        likes: 0,
      },
      methods: {
        like: function () {
          const url = "{% url 'movies:movie_like_api' movie.pk %}"
          axios.get(url)
            .then(res => {
              console.log(res.data.is_like_movie)
              if (res.data.is_like_movie) {
                this.likes++;
                this.is_like_movie = true
              } else {
                this.likes--;
                this.is_like_movie = false
              }
            })
        }
      },
      mounted: function () {
        this.is_like_movie = {% if request.user in movie.like_users.all %} true {% else %} false {% endif %},
        this.likes = {{ movie.like_users.count }}
      }
    })
    /* 바닐라 JS 버전
    const likeButtonList = document.querySelectorAll('.like-buttons')
    likeButtonList.forEach(likeButton => {
      likeButton.addEventListener('click', e => {
        const movieID = e.target.dataset.id

        {% if user.is_authenticated %}
        axios.get(`/movies/${movieID}/movie_like_api/`)
          .then(res => {
            console.log(res.data)
            document.querySelector(`#like-count-${movieID}`).innerText = res.data.count
            if (res.data.is_like_movie) {
              e.target.style.color = 'crimson'
            } else {
              e.target.style.color = 'black'
            }
          })
        {% else %}
          alert('비로그인 사용자는 좋아요를 누를 수 없습니다.')
        {% endif %}
      })
    })
    */
  </script>
{% endblock %}
