{% extends 'base.html' %}
{% load bootstrap4 %}

{% block app %}
  <h2 class="text-center">{{ person.username }} 님의 상세페이지 입니다.</h2>
  {% if not request.user == person %}
    <div v-show="is_follow">
      <div class="text-center"><h3 @click="follow"><span class="badge badge-warning">팔로우 취소</span></h3></div>
    </div>
    <div v-show="!is_follow">
      <div class="text-center"><h3 @click="follow"><span class="badge badge-warning">팔로우</span></h3></div>
    </div>
  {% endif %}
  <hr class="mb-4">


  <div class="d-flex">
    <!-- 팔로잉 버튼 -->
    <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#exampleModal1">
      팔로잉 {{ followings.count }}
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">팔로잉 목록</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- 잠깐 스톱 -->
            {% for following in followings %}
              <a href="{% url 'accounts:profile' following.username %}"><h5>{{ following }}</h5></a>
            {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">확인</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 팔로우 버튼 -->
    <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#exampleModal2">
      팔로워 $[[followers]]
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">팔로워 목록</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- 잠깐 스톱 -->
            {% for follower in followers %}
              <a href="{% url 'accounts:profile' follower.username %}"><h5>{{ follower }}</h5></a>
            {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">확인</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <div class="mr-3">작성한 리뷰 수: {{person.reviews.count}}개</div>
  <hr>
  <div class="mr-3">좋아요한 영화: {{person.like_movies.count}}개</div>
    {% for movie in like_movies %}
      <a href="{% url 'movies:detail' movie.pk %}"><img src="{{ movie.poster_path }}" style="width: 25%; height: 25%;"></a>
    {% endfor %}


{% endblock %}

{% block script %}
  <script>
    const vm = new Vue({
      el: '#app',
      delimiters: ['$[[', ']]'],
      data: {
        is_follow: {% if request.user in person.followers.all %} true {% else %} false {% endif %},
        followers: {{ person.followers.count }},
      },
      methods: {
        follow: function() {
          const url = "{% url 'accounts:follow_api' person.username %}"
          axios.get(url)
            .then(res => {
              if (res.data.is_follow) {
                this.followers++
                this.is_follow = true
              } else {
                this.followers--
                this.is_follow = false
              }
            })
            .catch(err => console.log(err))
        }
      },

    })
  </script>
{% endblock %}