{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Favicon -->
  <link rel="icon" href="{% static 'img/favicon.png' %}">
  <title>Movie Flex</title>
  {% bootstrap_css %}
  <style>
    body {
      background: rgb(255,255,255);
      background: radial-gradient(circle, rgba(255,255,255,1) 20%, rgba(0,0,0,1) 100%);
      margin-bottom: 56px;
    }
  </style>
  {% block css %}
  {% endblock %}

  <!-- Font-Awesome -->
  <script src="https://kit.fontawesome.com/3b9e4b0515.js" crossorigin="anonymous"></script>
  <!-- Vue, Axios -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <!-- NavBar -->
  {% include '_nav.html' %}
  {% bootstrap_messages %}

  <div id="app" class="container mt-5">
    {% block app %}
    {% endblock %}
  </div>

  <!-- footer -->
  {% include '_footer.html' %}

  {% block script %}
  {% endblock %}

  {% bootstrap_javascript jquery='full' %}
</body>
</html>
